In [1]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]
student

array([67, 78, 92, 74, 65])

In [2]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [3]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [4]:
s1['國文'] #使用key-index

67

In [5]:
s1[0] #使用原生-index #推薦不要

/tmp/ipykernel_3510/2962947414.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [6]:
for i in s1:
    print(i)

67
78
92
74
65

In [7]:
np.sum(s1)

376

In [8]:
np.mean(s1)

75.2

In [9]:
np.std(s1)

9.620810776644555

In [11]:
np.median(s1)

74.0

In [12]:
import pandas as pd
pd.DataFrame({
    "徐國堂":[78, 92, 76, 91, 72],
    "王xx":[72, 81, 92, 94, 69],
    "張xx":[81, 65, 89, 81, 72],
},index=['國文', '英文', '數學', '地理', '歷史'])

    徐國堂  王xx  張xx
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72

In [13]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),#索引
             columns=['國文', '英文', '數學', '地理', '歷史']#項目
             )

    國文  英文  數學  地理  歷史
1   96  77  85  79  97
2   77  70  96  66  87
3   97  72  65  64  90
4   76  91  72  93  72
5   86  86  65  76  68
6   66  81  61  87  77
7   80  64  95  90  75
8   75  62  92  68  85
9   75  75  78  89  65
10  99  66  71  92  89
11  84  84  70  98  97
12  95  68  80  70  96
13  69  70  95  94  79
14  60  64  85  60  98
15  76  83  75  88  72
16  96  74  67  67  67
17  63  86  97  64  69
18  76  92  78  92  96
19  70  73  72  65  70
20  84  60  70  68  85
21  73  68  74  66  99
22  83  75  90  74  64
23  65  68  95  89  98
24  70  91  83  75  87
25  87  71  63  82  96
26  81  78  99  76  69
27  64  77  74  71  71
28  65  86  71  81  80
29  78  73  73  81  98
30  62  86  61  70  83
31  62  73  66  62  69
32  95  74  79  63  60
33  79  84  62  61  68
34  78  74  94  95  61
35  92  79  61  73  90
36  60  81  89  79  74
37  82  79  65  60  83
38  68  72  77  79  60
39  78  82  82  86  66
40  62  74  88  82  86
41  84  60  91  87  92
42  66  96  90  77  73
43  84  63  66  66  74
44  81  66  69  95  79
45  99  99  69  78  61
46  99  73  86  71  75
47  67  77  96  60  81
48  62  68  68  64  67
49  72  81  76  85  62
50  97  63  69  67  87