In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.617483
   2   -0.828742
   3   -0.351880
b  1    0.663738
   2    1.606654
c  3   -0.542252
   1   -0.622419
d  2   -0.043561
   3   -0.968342
dtype: float64

In [2]:
data['a']

1   -0.617483
2   -0.828742
3   -0.351880
dtype: float64

In [3]:
data['b']

1    0.663738
2    1.606654
dtype: float64

In [5]:
display(data)
data.unstack()

a  1   -0.617483
   2   -0.828742
   3   -0.351880
b  1    0.663738
   2    1.606654
c  3   -0.542252
   1   -0.622419
d  2   -0.043561
   3   -0.968342
dtype: float64

          1         2         3
a -0.617483 -0.828742 -0.351880
b  0.663738  1.606654       NaN
c -0.622419       NaN -0.542252
d       NaN -0.043561 -0.968342

In [9]:
data.unstack().stack()

a  1    1.354096
   2    0.779143
   3   -0.627746
b  1    0.027908
   2   -1.522154
c  1    0.065691
   3   -1.486424
d  2   -0.221468
   3   -0.337971
dtype: float64

In [10]:
#四維資料
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4,3)),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names =['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [13]:
frame.stack().stack()

/tmp/ipykernel_12162/3805298217.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack().stack()

key1  key2  顏色     縣市
a     1     Green  台北     0.0
                   台中     2.0
            Red    台北     1.0
      2     Green  台北     3.0
                   台中     5.0
            Red    台北     4.0
b     1     Green  台北     6.0
                   台中     8.0
            Red    台北     7.0
      2     Green  台北     9.0
                   台中    11.0
            Red    台北    10.0
dtype: float64