In [3]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [8]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

ValueError: ``labels`` must be of length equal to the number of visible labels along ``axis`` (5).

In [9]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  4.523368  0.886435
2023-09-02  3.171218  2.451818
2023-09-03  4.820789  1.607189
2023-09-04  4.279625  4.145066
2023-09-05  3.184750  0.131627
2023-09-06  3.333484  3.695260
2023-09-07  2.444687  1.732277
2023-09-08  0.269154  1.328165
2023-09-09  1.871807  2.807763
2023-09-10  0.922600  1.769324

In [10]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [11]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1)

#0是橫軸 1是直的

In [5]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;')

          A         B         C         D
0 -0.405003 -0.178881  2.054176  1.836214
1 -0.272445 -0.753342  0.579720  0.306885
2 -1.401986 -0.160193  2.047401  0.353075
3 -0.086258 -0.368037 -1.968116 -0.066691
4 -0.449862  1.246609  0.787806 -0.015966
5 -1.305322  2.754181 -0.777488  0.868871
6 -1.426261  1.463956 -1.287755  0.034208
7  0.638016 -0.727606  0.265960 -0.933521
8  0.617619 -0.296383  0.462196 -0.108953
9 -0.057066 -0.023687  0.579709 -0.350362