In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns= ['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.622002  1.877251  2.327737
台中 -0.278293 -0.774430 -0.423289
台南 -0.663128 -0.443114 -0.279749
高雄 -0.703123 -0.397283 -0.524639

In [2]:
np.abs(frame)

           b         d         e
台北  0.622002  1.877251  2.327737
台中  0.278293  0.774430  0.423289
台南  0.663128  0.443114  0.279749
高雄  0.703123  0.397283  0.524639

In [3]:
#使用numpy做統計的動作
display(np.mean(frame,axis=0))#上到下
display(np.mean(frame,axis=1))#左到右

b   -0.566636
d    0.065606
e    0.275015
dtype: float64

台北    1.194328
台中   -0.492004
台南   -0.461997
高雄   -0.541681
dtype: float64

In [4]:
frame.loc['台北'].mean()

1.1943284942088164

In [5]:
np.mean(frame.loc['台北'])

1.1943284942088164